@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
@import url(bootstrap.css.map);
@import url(bootstrap-theme.css.map);
@import url(bootstrap.css.map);
* 
.info {
    background: gray;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.primary-color {
    color: rebeccapurple;
}

.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover {
    color: seagreen;
}

#header {
    min-height: 100vh - 94px;
    background: url(https://bit.ly/2oUwthE);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}