@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
@import url(bootstrap.css.map);
@import url(bootstrap-theme.css.map);
@import url(bootstrap.css.map);
* 
.info {
    background: burlywood;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
}

.primary-color {
    color: rgb(51, 75, 153);
}

.info h2 {
    word-spacing: 9.6px;
}

.info a {
    transition: color 1s ease-in-out;
}

.info a:hover {
    color: green;
}

#header {
    min-height: calc(100vh - 94px);
    background:  linear-gradient(rgba(65, 64, 64, 0.3),rgba(92, 89, 89, 0.3)), url(https://bit.ly/2Cv32Wx);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.height-90 {
    min-height: calc(100vh - 94px);
    align-items: center;
    justify-content: center;
}

.banner h1 {
    border-top: 6px dotted white;
    border-bottom: 6px dotted white;
    animation: fromLeft;
animation-duration: 4s;
animation-delay: 2s;
opacity: 0;
animation-fill-mode: forwards;
}

@keyframes fromleft {
    0%{
    transform: translatex(-100px);
    opacity: 0;
    }
    50%{
    transform: translatex(30px)
    }
    100%{
    transform: translatex(0)
    opacity: 1;
    }

.main-btn {
    color: #110609;
    font-size: 32px;
    border: 2px solid #03050a;
    transition: all 1s ease-in-out;
}

@keyframes fromleft {
    0%{
    transform: translatex(100px);
    opacity: 0;
    }
    50%{
    transform: translatex(-30px)
    }
    100%{
    transform: translatex(0)
    }
    opacity: 1;
}
    
.main-btn:hover {
    color: red;
    border: 2px solid;
    background: yellow
}

.pizza-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: blue;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover {
    color: crimson;
}

@keyframes fromBottom{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.item-container {
    position: relative;

}

.item-img {
    transition: all 2s ease;
}

.item-container:hover .item-img {
    transform: scale(1.2);
}